body{
width: 1000px;
margin: auto;
height: 3000px;
background-image: url(../images/texture1.jpg);

}

.container{
  background-color: grey;
  height: 3000px;
  margin: auto;

}

.header{
  height: 200PX;
  background-color: #d3fffd;
  width: 795px;
  float: right;
  display: inline-block;

}

.aside{
  width: 200px;
  height: 800px;
  display: inline-block;
  background-color: #ecffff;
  float: left;
  border: 1px solid grey;
}

.nameBox{
  font-size: 16px;
  text-align: center;
}

.experience{
  height: 500px;
  width: 795px;
  float: right;
  display: inline;
  background-color: #e1fffe;
}

.smallphoto{

    overflow:hidden;

}

@media screen and (max-width: 580px) {
    .aside {
        width: 400px;
    }
    body{
      margin-left: 1px;
    }
}
