body{
width: 1420px;
/*margin: auto;*/
height: 3000px;
background-image: url(../images/intersection.png);

}

.container{
height: 3000px;
  margin: auto;
width: 100%;
}

.header{
  height: 200PX;
  /*background-color: #DDDDDD;*/
  background-image: url(../images/train.jpeg);
  width: 100%;
  display: inline-block;

}


.nameBox{
  font-size: 16px;
  text-align: center;
}

.experience{
  height: 500px;
  width: 795px;
  display: inline;
}


.photo{
  height: 500px;
  background-color: #AAAAAA;
  display: inline-block;
  width: 100%;
}

.nav{
  background-color: #FCF5EB;
  height: 100px;
  width: 100%;

}

.textbox1{
  height: 300px;
  width: 300px;
  display: inline-block;
  margin-top: 100px;
  margin-left: 150px;
}
.laptop{
  filter: grayscale(100%);
}

.textbox2{
  font-family: 'Space Mono', monospace;
  font-size: 30px;
  display: inline-block;
  float: right;
  margin-top: 100px;
  width: 400px;
  margin-right: 200px;
  height: 300px;
}

.section2{
height: 500px;
background-color: #AAAAAA;
display: inline-block;
width: 100%;
}


@media screen and (max-width: 580px) {

}
